[submodule "Fundamentos-java/Fundamentos-java"]
	path = Fundamentos-java/Fundamentos-java
	url = git@github.com:tryber/java-001-exercicio-conta-bancaria-maven.git
[submodule "JavaWeb/java-001-exercicio-fitness-api"]
	path = JavaWeb/java-001-exercicio-fitness-api
	url = git@github.com:tryber/java-001-exercicio-fitness-api.git
[submodule "JavaWeb/java-001-exercicio-calculadora-de-idade"]
	path = JavaWeb/java-001-exercicio-calculadora-de-idade
	url = git@github.com:tryber/java-001-exercicio-calculadora-de-idade.git
[submodule "JavaWeb/java-001-exercicio-caixa-eletronico"]
	path = JavaWeb/java-001-exercicio-caixa-eletronico
	url = git@github.com:tryber/java-001-exercicio-caixa-eletronico.git
[submodule "JavaWeb/java-001-exercicio-gerenciador-de-tarefas"]
	path = JavaWeb/java-001-exercicio-gerenciador-de-tarefas
	url = git@github.com:tryber/java-001-exercicio-gerenciador-de-tarefas.git
[submodule "JavaWeb/java-001-projeto-localizador-de-museus"]
	path = JavaWeb/java-001-projeto-localizador-de-museus
	url = git@github.com:tryber/java-001-projeto-localizador-de-museus.git
